.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
}

.navbar a {  
    color: whitesmoke;
    margin-right: 10px;
}

.navbar a:hover {
    color: #007bff;
}